main {
  background: var(--secoundary);
  padding: 3rem 0;
}
.current-level-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.current-level-badge img {
  width: unset;
  height: 10rem;
}
.current-level-badge p {
  font-size: 1.8rem;
  font-weight: 600;
}
.level-flow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  position: relative;
  width: fit-content;
  margin: auto;
  margin-top: 1.5rem;
}
.level-flow::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 30%;
  transform: translateY(-50%);
  height: 1px;
  background: var(--bg2);
  z-index: 1;
}
.level-flow img {
  width: unset;
  height: 4rem;
  position: relative;
  z-index: 2;
}
.level-flow p {
  font-size: 1rem;
  color: var(--sub-text);
}
.level-flow .level {
  position: relative;
}
.level.active::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1rem;
  background: var(--primary-text);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.level-flow .level img {
  filter: grayscale(1) brightness(0.5);
}
.level.active img {
  filter: grayscale(0);
}
.gap-1 {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}
.block .header {
  padding-bottom: 1.5rem;
  border-bottom: var(--border);
}
.block .placement {
  position: relative;
  padding-bottom: 2rem;
}
.placement small {
  display: block;
  position: absolute;
  top: 1rem;
  font-size: 1rem;
  color: var(--sub-text);
}
.placement small:nth-child(1) {
  left: 0;
}
.placement small:nth-child(2) {
  left: calc(70% - 1rem);
}
.placement small:nth-child(3) {
  left: calc(90% - 1rem);
}
.placement small:nth-child(4) {
  left: calc(100% - 2rem);
}
.block .header .progress-bar {
  margin-top: 1rem;
}
.block .body {
  margin-top: 1.5rem;
}
.block .body p {
  color: var(--sub-text);
}
.block .list {
  display: grid;
  gap: 1rem;
}
.block .list p {
  position: relative;
  padding: 0.3rem 0;
  padding-left: 2rem;
}
.block .list p::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--alert);
  border-radius: 3rem;
}
.block .list p:nth-child(2):before {
  background: var(--success);
}
.block .block {
  background: #0e4d2f;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.block .block p {
  color: var(--primary-text);
}
.block .block i {
  font-size: 2rem;
}
.block .block.alert {
  background: var(--alert);
}
