@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--primary-text);
}
:root {
  --primary: #1dbf73;
  --secoundary: #1c1d1f;
  --primary-text: #ffffff;
  --bg: #0e0e0e;
  --sub-text: #525357;
  --bg2: #404145;
  --border: 1px solid #2a2b2f;
  --alert: #f85e5e;
  --success: #1dbf73;
}
[class*="grid"] {
  display: grid;
}
.align-center {
  align-items: center;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
body {
  -webkit-text-size-adjust: 100%;
  background: var(--bg);
  padding-bottom: 10rem;
}
i svg {
  width: unset;
  height: 1.8rem;
  fill: white;
}
p,
a,
input,
select,
textarea,
button {
  font-size: 1.6rem;
  font-weight: 500;
}

img,
video {
  max-width: 100%;
}
.container {
  max-width: 940px;
  padding: 0 2rem;
  margin: auto;
  width: 100%;
}
button {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 1rem;
  background: var(--primary);
  color: var(--primary-text);
  border-radius: 0.5rem;
  text-transform: capitalize;
  line-height: 1;
  transition: 0.3s;
  width: 100%;
}
button.alert {
  background: var(--alert);
}
header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secoundary);
}
header .container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.profile-pic {
  width: 5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.greetings h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}
.block {
  background: var(--secoundary);
  border-radius: 1rem;
  padding: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
main .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.block.report {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.block.report .card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.block.report .card:nth-child(1) {
  border-right: var(--border);
  border-bottom: var(--border);
}
.block.report .card:nth-child(2) {
  border-bottom: var(--border);
}
.block.report .card:nth-child(3) {
  border-right: var(--border);
}
.block.report .card h2 {
  font-size: 3rem;
}
.block.report .card h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
.coin {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.coin img {
  width: unset;
  height: 4rem;
}
.progress-bar {
  position: relative;
  overflow: hidden;
  height: 1.2rem;
  width: 100%;
  background: var(--bg2);
  border-radius: 5rem;
}
.progress-bar .progress {
  width: var(--w);
  height: 100%;
  background: var(--primary);
}
.bar-wraper {
  position: relative;
}
.bar-wraper::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: calc(100% + 1rem);
  background: var(--alert);
  z-index: 2;
  border-radius: 5rem;
  border: 0.2rem solid var(--secoundary);
  top: 50%;
  transform: translateY(-50%);
  left: calc(70% - 0.7rem);
}
.bar-wraper::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: calc(100% + 1rem);
  background: var(--success);
  z-index: 2;
  border-radius: 5rem;
  border: 0.2rem solid var(--secoundary);
  top: 50%;
  transform: translateY(-50%);
  left: calc(90% - 0.7rem);
}
.game-board {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  position: relative;
}
.game-board .whole {
  width: 100%;
  aspect-ratio: 1/1;
  background: var(--bg);
  border-radius: 50%;
  border: var(--border);
  position: relative;
  cursor: pointer;
}
.game-board .whole::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#0e0e0e00 30%, #0e0e0e 80%);
  z-index: 2;
  pointer-events: none;
}
.whole img {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  margin: auto;
  object-fit: contain;
  top: 100%;
  animation: ham 1s linear forwards;
  opacity: 0;
}
@keyframes ham {
  10% {
    top: 0;
    opacity: 1;
  }
  90% {
    top: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100%;
  }
}
.whole p {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  pointer-events: none;
  word-break: keep-all;
  word-wrap: nowrap;
  animation: pop-fade 0.5s linear forwards;
  white-space: unset;
  z-index: 3;
}
@keyframes pop-fade {
  0% {
    top: 0;
    opacity: 0;
  }
  40% {
    top: -3rem;
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
[data-client="bad"] p {
  color: var(--alert);
}
[data-client="good"] p {
  color: var(--success);
}
.anim-img {
  padding: 2rem;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.lavel {
  width: 5rem;
}
.footer-menu {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 8rem;
  background: var(--secoundary);
  z-index: 9999;
}
.footer-menu .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ico {
  position: relative;
}
.ico .alert {
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--alert);
  position: absolute;
  top: 0;
  right: 0;
}
.footer-menu .ico i {
  font-size: 3rem;
}
.ico.order {
  width: 6rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 50%;
  border: 0.3rem solid #19a463;
}
.block .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block .header h3 {
  color: var(--sub-text);
  font-size: 1.6rem;
}
.title {
  font-size: 2rem;
}
.action {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.start button {
  padding: 0;
  width: 15rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.start {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 99;
  background: #1c1d1f7b;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}
#countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  transition: 1s;
  font-size: 0vw;
  opacity: 50%;
  color: white;
  z-index: 9999;
  font-weight: 900;
  line-height: 1;
}
.cowndown-main {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
}

@media (max-width: 660px) {
  .block.report .card p {
    font-size: 1.2rem;
  }
  .game-board {
    gap: 1rem;
    padding: 1.5rem;
  }
  .block.report .card h2 {
    font-size: 2.3rem;
  }
  .anim-img {
    padding: 2rem;
  }
  .whole p {
    font-size: 1.6rem;
    width: 100%;
  }
  .lavel {
    width: 4rem;
  }
}
